
{{!-- <div class="container">
 <div>
   <h4 class="text-center">Some links</h4>  
</div>   


<div id="block1">
    <div id="listofurls" class="list-group">
        {{#each model as |shortUrls|}}
            {{#link-to "shorturls" shortUrls.id}}
            <h6 class="text-center">Original</h6>  
        <div>
            <p class="list-group-item list-group-item-action overflow-auto">
            {{shortUrls.longUrl}}
            </p>
        </div>  
            {{/link-to}}
        <a href="{{shortUrls.shortUrl}}"> 
        <h6 class="text-center">Shortened</h6>  
        <p class="list-group-item list-group-item-primary">
        {{shortUrls.shortUrl}} 
        </p>
        </a>
        {{/each}}
    </div>
</div>
</div> --}}
